<div class="container">
    <div class="errors-container">
        <div class="error" *ngFor="let error of errors">
            <p>{{ error }}</p>
        </div>
    </div>

    <div class="leaderboard-container">
        <h1>Leaderboard</h1>
        <ngx-charts-bar-horizontal class="leaderboard"
            [results]="stats.winner"
            [xAxis]="true"
            [yAxis]="true"
            xAxisLabel="Games won"
            yAxisLabel="Players"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            #chart
        ></ngx-charts-bar-horizontal>
    </div>
</div>
