canvas {
    background-color: black;
    box-shadow: 1px 1px gray;
}

.action-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.game-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.room-list-container {
    margin-right: 30px;
}

.timer {
    margin-top: 15px;
}
