<div class="container">
    <div class="errors-container">
        <div class="error" *ngFor="let e of errors">
            <p>{{e.error}}</p>
        </div>
    </div>

    <div>
        <div class="action-container">
            <form>
                <input type="text" name="clientId" placeholder="Enter player name" [(ngModel)]="userId" [disabled]="hasJoinedGame">
                <button *ngIf="!hasJoinedGame" (click)="joinGame()" [disabled]="!userId">Join Game</button>
                <button *ngIf="hasJoinedGame" (click)="leaveGame()" [disabled]="hasGameStarted()">Leave Game</button>
            </form>
        </div>


        <div class="game-container">
            <div class="room-list-container">
                <bomberman-room-list [rooms]="roomService.rooms | async" [idOfSelectedRoom]="roomToView" (roomChange)="updateSelectedRoom($event)"></bomberman-room-list>
            </div>

            <div>
                <canvas id="bomberman-game" width="480" height="480" tabindex="0" (keydown)="onActionInput($event)" (keyup)="onActionInput($event)"></canvas>

                <div class="timer" *ngIf="currentGameState">
                    <p>Game clock: {{getGameTime()}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
