.action-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
}

.game-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.room-list-container {
    margin-right: 30px;
}

.timer {
    margin-top: 15px;
}
